aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4==4.12.2
billiard==4.2.0
bleach==6.1.0
blinker==1.7.0
boto3==1.26.83
botocore==1.29.165
cachetools==5.3.2
celery==5.3.6
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
comm==0.2.2
constantly==23.10.4
contourpy==1.2.0
croniter==2.0.3
cryptography==42.0.5
cycler==0.12.1
daphne==4.1.0
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.2
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
demoji==1.1.0
dj-rest-auth==3.0.0
Django==4.2.3
django-allauth==0.52.0
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.14.2
djangorestframework==3.14.0
docx2txt==0.8
exceptiongroup==1.1.3
execnb==0.1.5
executing==2.0.1
faiss-cpu==1.7.4
fastcore==1.5.29
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.0
fonttools==4.48.1
frozenlist==1.4.0
fsspec==2023.10.0
gevent==24.2.1
google==3.0.0
google-ai-generativelanguage==0.3.3
google-api-core==2.14.0
google-auth==2.23.4
google-generativeai==0.2.2
googleapis-common-protos==1.61.0
greenlet==3.0.3
grpcio==1.59.2
grpcio-status==1.59.2
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
huggingface-hub==0.21.4
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
incremental==22.10.0
ipykernel==6.29.3
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.0.3
itables==2.0.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
kaggle==1.6.6
kiwisolver==1.4.5
kombu==5.3.5
langchain==0.0.334
langsmith==0.0.63
llvmlite==0.42.0
lxml==5.1.0
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mercury==2.3.10
mistune==3.0.2
mplcursors==0.5.3
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
nulltype==2.3.1
numba==0.59.1
numpy==1.26.1
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
plaid-python==14.0.0
platformdirs==4.2.0
plotly==5.20.0
prompt-toolkit==3.0.43
proto-plus==1.22.3
protobuf==4.25.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
pyee==8.2.2
Pygments==2.17.2
PyJWT==2.8.0
pynndescent==0.5.12
pyOpenSSL==24.1.0
pyparsing==3.1.1
pypdf==3.17.1
PyPDF2==3.0.1
pyppeteer==1.0.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.4
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.34.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
s3transfer==0.6.2
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
selenium==4.18.1
sentence-transformers==2.6.0
sentencepiece==0.1.99
service-identity==24.1.0
shortuuid==1.0.13
sniffio==1.3.0
soccerdata==1.6.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.27
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.12
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.15.2
torch==2.1.0
torchvision==0.16.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.2
transformers==4.36.0
trio==0.24.0
trio-websocket==0.11.1
Twisted==24.3.0
txaio==23.1.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
umap-learn==0.5.6
undetected-chromedriver==3.5.5
unicode==2.9
Unidecode==1.3.8
urllib3==1.26.18
vine==5.1.0
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.7.0
websockets==10.4
Werkzeug==3.0.1
whitenoise==6.6.0
widgetsnbextension==4.0.10
wordcloud==1.9.3
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
